#container-gestor-register {
  margin: 10vh auto;
  max-width: 450px;
  width: 100%;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-text-primary-color);
  background-color: var(--tertiary-color);

}

.container img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 10px;
}