body {
    background-image: url('../../assets/background-gerenciar.jpg');
    background-size: cover;
}

.container-home {
    min-height: 600px;
    height: auto !important;
    height: 600px;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-home > h1{
    position: absolute;
    align-self: center;
    margin-top: 80px;
    color: #519e0d;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 230px;
    width: 100%;
    height: 200px;
}

.buttons button.btn-news{
    border: 0;
    border-radius: 3px;
    width: 14%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(231, 168, 131);
    color: #fff;
    cursor: pointer;
    align-self: center;
}

.buttons button.btn-news:hover {
    background: rgb(219, 135, 86);
}

.buttons button.btn-parents{
    border: 0;
    border-radius: 3px;
    width: 14%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(219, 206, 86);
    color: #fff;
    cursor: pointer;
    margin-top: 39px;
    align-self: center;
}

.buttons button.btn-parents:hover {
    background: rgb(187, 174, 60);
}

.buttons button.btn-users{
    border: 0;
    border-radius: 3px;
    width: 14%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    background: rgb(219, 91, 86);
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    align-self: center;
}

.buttons button.btn-users:hover {
    background: rgb(182, 59, 55);
}

.footer {
    position: absolute;
    align-self: flex-end;
    margin-top: 570px;
    margin-right: 14px;
    font-size: 11px;
}

.footer > a{
    color: #690b61;
}