header#main-header  {
    height: 50px;
    background: #519e0d;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}