.header-container {
    height: 6vh;
    background: var(--primary-color);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-text {
    font-size: larger;
    font-weight: normal;
    color: var(--lightsome-text-color);
}

.header-logout-button {
    position: absolute;
    align-self: flex-end;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    height: 100%;
    max-height: 8vh;
    width: 8vh;
}

#logout-btn {
    border: 1px solid var(--lightsome-text-color);
    border-radius: 4px;
    font-weight: normal;
    background: transparent;
    color: var(--lightsome-text-color);
    cursor: pointer;;

    width: 85%;
    height: 50%;
}

#logout-btn span{
    background: url('../../assets/logout-16.ico') no-repeat;
    float: right;
    width: 2vh;
    height: 2vh;
    margin-right: .3vh;
}

#logout-btn:hover {
    background: var(--primary-dark-color);
}

@media (min-width: 500px) {

    .header-container {
        height: 8vh;
    }

    .header-text {
        font-size: x-large;
        font-weight: bold;
    }

    .header-logout-button {
        max-height: 10vh;
        width: 10vh;
        margin-right: 3vh;
    }

    #logout-btn span{
        background: url('../../assets/logout-16.png') no-repeat;
        width: 2.4vh;
        height: 2.4vh;
        margin-right: .4vh;
    }
}