* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --backgroud-primary-color: #f5f5f5;
    --primary-color: #00468C;
    --primary-dark-color: #02376d;
    --secondary-color: #8A599A;
    --secondary-dark-color: #774388; 
    --tertiary-color: #679A38;
    --tertiary-dark-color: #53802a; 
    --lightsome-text-color: #ffffff;
    --lightsome-button-text-color: #fff;
    --dark-text-primary-color: #423e3a;
    --dark-text-secondary-color: #4d4d4d;
    --border-primary-color: #666;
}

body, html, #root {
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    min-height: 100%;
    -webkit-font-smoothing: antialiased !important;

    /* background-color: var(--backgroud-primary-color); */
}

body {
    font-family: 'Baloo 2', cursive;
    color: #333 
}

